.beings {
    @import "_salmon-card.scss";

    .card {
        position: relative;
    }

    .being-icon {
        position: absolute;
        top: var(--bs-card-spacer-y);
        right: var(--bs-card-spacer-x);
        font-size: 2rem;
        line-height: 1.5rem;
    }
}
