.entry-picker {

    .modal-body {
        padding: 0;
    }

    .timeline {
        padding: 0;

        &:before {
            left: 23px;
        }
    }

    .entry {
        padding: 1rem;

        .title {
            display: block;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .body {
            margin-bottom: 0;

            h2 {
                font-size: 120%;
                font-weight: bold;
                line-height: 1;
                margin-bottom: 0;
            }
        }

        .date {
            padding-right: .5rem;
        }
    }

    .entry:last-child {
        padding-bottom: 0;
        border-bottom-width: 0;
    }

    .loading-message {
        display: block;
        padding: 1rem 3rem;
    }
}
