.entry-detail {
    padding: 24px;
    margin: 24px 0;

    .text {
        margin: 24px 0;
    }

    .images {
        margin: 24px 0;
        display: grid;
        grid-gap: 24px;

        @media (min-width:520px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 16px;
        }

        @media (min-width:768px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (min-width:992px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @media (min-width:1200px) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }

        .image {
            position: relative;
            display: flex;
            align-items: center;

            a {
                display: block;
                margin: 0 auto;

                button {
                    position: absolute;
                    right: 6px;
                    top: 6px;
                    display: none;
                }

                &:hover button {
                    display: inline-block;
                    z-index: 1;
                }
            }

            img {
                /* Container margin + entry-detail padding */
                width: calc((100vw - 1.5rem - 48px));
                height: calc((100vw - 1.5rem - 48px) / 4 * 3);

                @media (min-width:520px) {
                    width: 226px;
                    height: 169.5px;
                }

                @media (min-width:768px) {
                    width: 205.33px;
                    height: 154px;
                }

                @media (min-width:992px) {
                    width: 210px;
                    height: 157.5px;
                }

                @media (min-width:1200px) {
                    width: 200px;
                    height: 160px;
                }

                @media (min-width:1400px) {
                    width: 236px;
                    height: 177px;
                }

                transition: transform 0.5s;
            }

            img:hover {
                transform: scale(1.05);
            }
        }


        .image-placeholder {
            justify-content: center;

            img {
                opacity: 0.2;
            }

            span {
                position: absolute;
            }
        }
    }

    .placeholder {
        color: $placeholder-color;
    }
}

.pswp__title {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.8rem;
}

.pswp__button--autoplay {
    color: white;
}

.pswp__autoplay-progress {
    height: 3px;
    background: white;
    position: absolute;
    bottom: 0px;
}