.image-detail {
    padding: 24px;
    margin: 24px 0;

    .text {
        margin: 24px 0;
    }

    .image {
        margin: 24px 0;
        display: flex;
        align-items: center;

        img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: 0 auto;
        }
    }

    .value-placeholder {
        color: $placeholder-color;
    }
}
