.inline-editor {
    .oi-check {
        color: $ok-color;
    }

    .oi-x {
        color: $error-color;
    }

    .form-control {
        font-size: inherit;
    }

    textarea {
        min-height: 400px;
    }
}

.inline-editor-viewmode {

    .inline-editor-value {
        position: relative;
    }

    .oi-pencil {
        display: none;
        color: $placeholder-color;
        font-size: 16px;
        left: -24px;
        position: absolute;
        top: 2px;
    }

    &:hover, &:active {
        .oi-pencil {
            display: inline-block;
        }
    }
}

h2 {
    .inline-editor-viewmode {
        .oi {
            top: 14px;
        }
    }
}


.inline-markdown {
    .inline-submit {
        margin-top: -60px;
    }
}