.inline-editor {
    .oi-check, .fa-check {
        color: $ok-color;
    }

    .oi-x, .fa-times {
        color: $error-color;
    }

    button.save:hover {
        background: $ok-color;
        border: none !important;
    }

    button.cancel:hover {
        background: $error-color;
        border: none !important;
    }

    .editor-toolbar:after {
        clear: both;
    }

    button:hover {
        .oi-check, .fa-check {
            color: white;
        }

        .oi-x, .fa-times {
            color: white;
        }
    }

    .form-control {
        font-size: inherit;
    }

    textarea {
        min-height: 400px;
    }

    input[type=text] {
        min-height: unset;
        padding-top: 0;
        padding-bottom: 0;
        border-right: none;
    }

    .input-group-append button {
        border-color: #ced4da;
        border-left-width: 0px;
        border-right-width: 0px;
    }

    .input-group-append button:last-of-type {
        border-right-width: 1px;
    }
}

.inline-editor-viewmode {
    a.inline-editor-value {
        cursor: inherit;
    }

    &.inline-editable a.inline-editor-value {
        cursor: pointer;
    }

    .inline-editor-value {
        position: relative;
    }

    .oi-pencil, .fa-pen {
        display: none;
        color: $placeholder-color;
        font-size: 16px;
        left: -24px;
        position: absolute;
        top: 2px;
    }

    &.inline-editable {
        &:hover, &:active {
            .oi-pencil, .fa-pen {
                display: inline-block;
            }
        }
    }
}

h2 {
    .inline-editor-viewmode {
        .fa {
            top: 16px;
        }
    }
}

h4 {
    .inline-editor-viewmode {
        .oi {
            top: 8px;
        }
    }
}

.inline-date {
    .input-group {
        width: 200px;
    }
}

.inline-datetime {
    .input-group {
        width: 330px;
    }
}

.inline-markdown {
    .inline-submit {
        margin-top: -60px;
    }
}

.map-container {
    position: relative;

    .map {
        height: 500px;

        img {
            cursor: pointer;
        }
    }

    .map-controls {
        position: absolute;
        top: 10px;
        z-index: 1;
        left: 10px;
    }

    .card {
        .card-header,
        .card-footer {
            display: none;
        }

        .card-body {
            padding: 4px;
        }
    }
}
