.card {
    border-color: $accent-color;

    &.selected {
        color: white;
        background-color: lightsalmon;
    }

    &:hover, &:hover a {
        color: white;
        background-color: $accent-color;
    }
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
