.search {
    .card {
        .information {
            margin-right: 12px;
            color: #333;
        }

        border-color: $accent-color;

        &:hover, &:hover a, &:hover .information {
            color: white;
            background-color: $accent-color;
        }
    }

    a {
        color: black;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}
