.stories {
    .card {
        border-color: $accent-color;

        &:hover, &:hover a {
            color: white;
            background-color: $accent-color;
        }
    }

    a {
        color: black;
        text-decoration: none;
        
        &:hover {
            text-decoration: none;
        }
    }
}

.entry-detail {
    .chapter {
        margin-top: 1.5rem !important;
    }

    .entries {
        margin-bottom: 1.5rem;
    }
}