.story-picker {
    .story {
        padding: 1rem;
        border-bottom: 1px solid rgba(0,0,0,.1);

        .title {
            display: block;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .chapters {
            padding-right: .5rem;

            ul {
                padding-left: 20px;
            }
        }
    }

    .story:first-child {
        padding-top: 0;
    }

    .story:last-child {
        padding-bottom: 0;
        border-bottom-width: 0;
    }
}
