$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);
$gutter: 30px;
$border-width: 4px;
$dot-diameter: 18px;

.timeline {
    width: 100%;
    padding: 64px 0 0 0;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;

    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: calc(15%);
        bottom: 0px;
        width: $border-width;
        background: #ddd;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    * {
        box-sizing: border-box;
    }
}

.entry {
    clear: both;
    text-align: left;
    position: relative;

    .title {
        margin-bottom: .5em;
        float: left;
        width: 15%;
        padding-right: $gutter;
        text-align: right;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: $dot-diameter;
            height: $dot-diameter;
            border: $border-width solid salmon;
            background-color: #fff;
            border-radius: 100%;
            top: 15%;
            right: -11px;
        }

        h3 {
            margin: 0;
            font-size: 120%;
        }

        p {
            margin: 0;
            font-size: 100%;
        }
    }

    .body {
        margin: 0 0 3em;
        float: right;
        width: 85%;
        padding-left: $gutter;

        h2 {
            margin-top: -6px;
            font-size: 180%;

            a {
                @include dark-arrow;
            }
        }

        .information {
            margin-right: 12px;
            color: #333;
            white-space: nowrap;
        }

        .placeholder {
            color: $placeholder-color;
        }
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.entry-new {
    .date-box {
        width: 100px;
        float: right;
    }
}

.entry-more {
    position: relative;
    margin-left: calc(15% - 34px);
    margin-bottom: 48px;
    background: white;
}

@mixin narrow() {
    .timeline {
        &:before {
            left: 7px;
        }
    }

    .entry {
        .title {
            position: initial;
            width: auto;
            float: none;
            padding-right: 0;
            padding-left: 30px;
            text-align: left;
            position: relative;

            &:before {
                right: auto;
                left: 0;
            }
        }

        .body {
            float: none;
            width: auto;
        }
    }

    .entry-new {
        .date-box {
            width: 100%;
            float: none;
        }
    }

    .entry-more {
        margin-left: 0;
    }
}

.entry-picker {
    @include narrow;
}

@media (max-width: 768px) {
    @include narrow;

    .timeline {
        padding-right: 6px;
        padding-left: 6px;

        &:before {
            left: 13px;
        }
    }
}
