blockquote {
  color: #aaaaaa; }

.clear {
  clear: both; }

.body-offset {
  margin-top: 24px; }

.hidden, .inline-editor .hidden {
  display: none; }

a {
  cursor: pointer; }

.loading-bar {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 84px; }
  .loading-bar div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: var(--purple);
    animation: loading-bar 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }
  .loading-bar div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s; }
  .loading-bar div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s; }
  .loading-bar div:nth-child(3) {
    left: 45px;
    animation-delay: 0; }

@keyframes loading-bar {
  0% {
    top: 6px;
    height: 71px; }
  50%, 100% {
    top: 19px;
    height: 26px; } }

.inline-editor .oi-check, .inline-editor .fa-check {
  color: var(--green); }

.inline-editor .oi-x, .inline-editor .fa-times {
  color: var(--danger); }

.inline-editor .editor-toolbar:after {
  clear: both; }

.inline-editor .input-group-append button:hover .oi-check {
  color: white; }

.inline-editor .input-group-append button:hover .oi-x {
  color: white; }

.inline-editor .form-control {
  font-size: inherit; }

.inline-editor textarea {
  min-height: 400px; }

.inline-editor input[type=text] {
  border-right: none; }

.inline-editor .input-group-append button {
  border-color: #ced4da;
  border-left-width: 0px;
  border-right-width: 0px; }

.inline-editor .input-group-append button:last-of-type {
  border-right-width: 1px; }

.inline-editor-viewmode .inline-editor-value {
  position: relative; }

.inline-editor-viewmode .oi-pencil {
  display: none;
  color: #aaaaaa;
  font-size: 16px;
  left: -24px;
  position: absolute;
  top: 2px; }

.inline-editor-viewmode:hover .oi-pencil, .inline-editor-viewmode:active .oi-pencil {
  display: inline-block; }

h2 .inline-editor-viewmode .oi {
  top: 14px; }

.inline-markdown .inline-submit {
  margin-top: -60px; }

.map-container {
  position: relative; }
  .map-container .map {
    height: 500px; }
  .map-container .map-controls {
    position: absolute;
    top: 10px;
    z-index: 1;
    left: 10px; }
  .map-container .card .card-header,
  .map-container .card .card-footer {
    display: none; }
  .map-container .card .card-body {
    padding: 4px; }

.file-upload {
  float: left;
  margin-right: 4px; }
  .file-upload input[type=file] {
    display: none; }

.main-navbar {
  z-index: 2; }

.actions .right-actions {
  text-align: right; }

.actions button {
  margin-bottom: 4px; }

@media (max-width: 575px) {
  .actions button, .actions form {
    width: 100%;
    display: block; } }

.exception-panel {
  margin-top: 24px; }

.component-login form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

.component-login .checkbox {
  font-weight: 400; }

.component-login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px; }

.component-login .form-control:focus {
  z-index: 2; }

.component-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.component-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.timeline .timeline-item {
  position: relative;
  margin-left: 24px;
  border-left: 1px solid #e5e5e5; }

.timeline .timeline-item-connector {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 76px;
  border-bottom: 1px solid #e5e5e5; }

.timeline .timeline-item-body {
  padding: 1px 0 1px 24px; }

.timeline .entry {
  padding: 24px;
  margin: 24px 0;
  border-radius: 4px;
  border: 1px solid #e5e5e5; }

.mappage {
  position: absolute;
  top: 70px;
  left: 0;
  bottom: 0;
  right: 0; }
  .mappage .map-container {
    height: 100%; }
    .mappage .map-container .map {
      height: 100%; }
  @media (max-width: 991px) {
    .mappage {
      top: 55px; } }

.entry-detail {
  padding: 24px;
  margin: 24px 0; }
  .entry-detail .text {
    margin: 24px 0; }
  .entry-detail .images {
    margin: 24px 0; }
    .entry-detail .images .image {
      display: flex;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 15px; }
      .entry-detail .images .image a {
        display: block;
        margin: 0 auto; }
      .entry-detail .images .image img {
        max-width: 100%;
        max-height: 160px; }
    .entry-detail .images .image-placeholder {
      justify-content: center; }
      .entry-detail .images .image-placeholder img {
        opacity: 0.2; }
      .entry-detail .images .image-placeholder span {
        position: absolute; }
  .entry-detail .placeholder {
    color: #aaaaaa; }

.image-detail {
  padding: 24px;
  margin: 24px 0; }
  .image-detail .text {
    margin: 24px 0; }
  .image-detail .image {
    margin: 24px 0;
    display: flex;
    align-items: center; }
    .image-detail .image img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: 0 auto; }
  .image-detail .placeholder {
    color: #aaaaaa; }

.version {
  color: #aaaaaa; }
