@import "_colors.scss";

@import "../lib/bootstrap/scss/functions";
$primary: $accent-color;

@import "../lib/bootstrap/scss/variables";
$theme-colors: map-merge($theme-colors, ( "primary": $primary ));

@import "../lib/bootstrap/scss/bootstrap";
@import "../lib/fontawesome/css/all.css";
@import "../lib/easymde/dist/easymde.min.css";

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $placeholder-color;
}

::-webkit-scrollbar-thumb {
    background: #52585F;
}



a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

html, body {
    overscroll-behavior-y: none;
}

body {
    position: relative;
    min-width: 370px;
    min-height: 100vh;
    padding-bottom: 56px;
}

footer.navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 0.5rem;

    .navbar-text {
        color: $placeholder-color !important;
    }

    a {
        color: $placeholder-color !important;

        &:hover {
            text-decoration: underline;
        }
    }
}

.bottom-bar {
    z-index: 1050;
    background: var(--bs-body-bg);
    border-top: 1px solid var(--bs-border-color-translucent);

    .items-6, .items-5, .items-4, .items-3 {
        span.text {
            display: none;
        }
    }
}

.toast {
    z-index: 1060;
}

.bottom-55 {
    bottom: 55px;
}

.offcanvas-bottom-menu {
    --bs-offcanvas-height: 420px;
    bottom: 55px;
}

blockquote {
    color: $placeholder-color;
}

.clear {
    clear: both;
}

.body-offset {
    margin-top: 24px;
}

.hidden, .inline-editor .hidden {
    display: none;
}

a {
    cursor: pointer;
}

a:not(.btn,.nav-link,.dropdown-item) {
    color: var(--bs-body-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.dropdown-item .fa,
.dropdown-item .far,
.dropdown-item .fas {
    width: 24px;
    text-align: center;
}

.btn-primary {
    --bs-btn-color: #fff;
}

.btn-primary,
.btn-outline-primary {
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
}

.bg-salmon,
a.bg-salmon {
    color: white;
    background-color: salmon;
}

.aspect-1 {
    aspect-ratio: 1;
}

.cursor-pointer {
    cursor: pointer;
}

@import "_loading.scss";
@import "_inline-editor.scss";
@import "_file-upload.scss";

.main-navbar {
    &.block-icons {
        padding-top: .25rem;
        padding-bottom: .25rem;

        .nav-link {
            text-align: center;
            padding-right: 1.1rem;
            padding-left: 1.1rem;

            @media (max-width: 767px) {
                padding-top: .3rem;
                padding-bottom: .3rem;
            }

            @media (min-width:1200px) {
                padding-right: 1.5rem;
                padding-left: 1.5rem;
            }

            .fa, .fas, .far {
                @media (max-width: 767px) {
                    font-size: 1.3rem;
                }

                @media (min-width: 768px) {
                    display: block;
                    text-align: center;
                }
            }
        }

        @media (min-width:992px) {
            & ~ .mappage {
                top: 64px !important;
            }
        }
    }
}

.user-navbar {
    flex-direction: row;
}

.actions {
    .right-actions {
        text-align: right;
    }

    button.btn {
        margin-bottom: 4px;
    }
}

@media (max-width:575px) {
    .actions {
        button.btn, form {
            width: 100%;
            display: block;
        }
        /* Copy non-sm button styles */
        button.btn {
            font-size: 1rem;
            padding: .375rem .75rem;
            border-radius: .25rem;
        }
    }
}

@media (max-width:510px) {
    footer {
        font-size: 13px;

        .navbar-text {
            padding: 0;
        }
    }
}

@media (max-width: 410px) {
    .versions {
        display: none;
    }
}

@import "_exception-panel.scss";
@import "_accounts.scss";
@import "_timeline.scss";
@import "_mappage.scss";
@import "_entry-detail.scss";
@import "_entry-picker.scss";
@import "_image-detail.scss";
@import "_stories.scss";
@import "_story-picker.scss";
@import "_beings.scss";
@import "_icon-picker.scss";
@import "_search.scss";
@import "_calendar.scss";
@import "_version.scss";
