@import "_colors.scss";

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

html, body {
    overscroll-behavior-y: none;
}

body {
    position: relative;
    min-width: 400px;
    min-height: 100vh;
    padding-bottom: 56px;
}

footer.navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 0.5rem;

    .navbar-text {
        color: $placeholder-color !important;
    }

    a {
        color: $placeholder-color !important;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

blockquote {
    color: $placeholder-color;
}

.clear {
    clear: both;
}

.body-offset {
    margin-top: 24px;
}

.hidden, .inline-editor .hidden {
    display: none;
}

a {
    cursor: pointer;
}

.lnk-salmon-arrow {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1rem;

    &:hover {
        color: salmon;
    }
}

.btn-salmon {
    color: white;
    border-color: salmon;
    background-color: salmon;

    &:focus, &:hover {
        box-shadow: 0 0 0 0.2rem rgba(250, 128, 114, .25);
    }

    &:hover {
        color: white;
        background-color: #e87563;
    }
}

.btn-outline-salmon {
    color: salmon;
    border-color: salmon;
    background-color: transparent;

    &:focus, &:hover {
        box-shadow: 0 0 0 0.2rem rgba(250, 128, 114, .25);
    }

    &:hover {
        color: white;
        background-color: lightsalmon;
    }
}

@import "_loading.scss";
@import "_inline-editor.scss";
@import "_file-upload.scss";

.main-navbar {
    z-index: 2;

    .navbar-toggler {
        border: none;
        outline: none;

        &:focus {
            box-shadow: none;
        }
    }

    &.block-icons {
        padding-top: .25rem;
        padding-bottom: .25rem;

        .fa, .fas {
            display: block;
            text-align: center;
        }

        .nav-link {
            text-align: center;
            padding-right: 1.1rem;
            padding-left: 1.1rem;

            @media (min-width:1200px) {
                padding-right: 1.5rem;
                padding-left: 1.5rem;
            }
        }

        @media (min-width:992px) {
            & ~ .mappage {
                top: 64px !important;
            }
        }

        @media (max-width:991px) {
            .navbar-nav {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                button, a {
                    width: 100%;
                    display: block;
                    padding-top: 2.5rem;
                    padding-bottom: 2.5rem;
                }
            }

            .nav-link {
                padding-top: 2.5rem;
                padding-bottom: 2.5rem;
            }
        }
    }
}

.user-navbar {
    flex-direction: row;
}

.actions {
    .right-actions {
        text-align: right;
    }

    button.btn {
        margin-bottom: 4px;
    }
}

@media (max-width:575px) {
    .actions {
        button.btn, form {
            width: 100%;
            display: block;
        }
        /* Copy non-sm button styles */
        button.btn {
            font-size: 1rem;
            padding: .375rem .75rem;
            border-radius: .25rem;
        }
    }
}

@media (max-width:480px) {
    footer {
        font-size: 13px;
    }
}

@import "_exception-panel.scss";
@import "_accounts.scss";
@import "_timeline.scss";
@import "_mappage.scss";
@import "_entry-detail.scss";
@import "_entry-picker.scss";
@import "_image-detail.scss";
@import "_stories.scss";
@import "_story-picker.scss";
@import "_beings.scss";
@import "_icon-picker.scss";
@import "_search.scss";
@import "_version.scss";
